<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:label="ConsultaMX"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false">
        <activity android:name=".OfficialWebActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".AutoOfficialWebActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".HandsFreeCurpRpaActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".SepCedulaRpaActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".SepCedulaRpaV2Activity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".SepCedulaFlexibleRpaActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".SepCedulaFallbackRpaActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".AutoMainActivity" android:screenOrientation="portrait" android:exported="false" />
        <activity android:name=".CedulaMainActivity" android:screenOrientation="portrait" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
